.main {
    border: 1px solid black;
    text-align: center;
}

#missionStatement {

}

.btnDiv {
    display: flex;
    margin: 0 auto;
}

.btnDiv form{
    padding: 0 15px;
    text-align: start;
    flex: 1 0 200px
}
.btnDiv form:first-child {
    text-align: end;
}

.btnDiv button{
    width: 400px;
}

/* CSS : FROM https://getcssscan.com/css-buttons-examples */
.button-19 {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}

.button-19:active {
    border-width: 4px 0 0;
    background: none;
}

/*#userInfoMain {*/
/*    background: lightgray;*/
/*    padding: 5px;*/
/*}*/

/*.fieldDiv{*/
/*    display: flex;*/
/*}*/

/*.fieldDiv image {*/
/*    height: 10px;*/
/*    background: transparent;*/
/*}*/
/*.userInfo h2 {*/
/*    margin:  0;*/
/*}*/

/*.userInfo h3 {*/
/*    margin:  0;*/
/*    padding: 5px 5px 0 5px;*/
/*    text-decoration: underline;*/
/*}*/

/*.userInfo p > span{*/
/*    background: white;*/
/*    border: 1px solid black;*/
/*    border-radius: 5px;*/
/*    padding: 5px;*/
/*}*/


