body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif, serif;
}
.main {
    height: calc(100vh - 151px);
}
#resumeInfoMain {
    background: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.fieldDiv{
    display: flex;
}

.fieldDiv image {
    height: 10px;
    background: transparent;
}
.resumeInfo h2 {
    margin: 0;
}

.resumeInfo label{
    display: inline-block;
    font-size: 12px;
    width: 120px;
    margin-top: 10px;
}

.resumeInfo input[type="text"] {
    width: 400px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.resumeInfo p > span{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.btnDiv {
    display: flex;
}

.btnDiv input[type="submit"] {
    width: 75px;
    margin: 5px 15px;
    box-shadow: 1px 1px 2px black;
}

.browseUser {
    
}

