body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif, serif;
}

#resumeInfoMain {
    background: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.fieldDiv{
    display: flex;
}

.fieldDiv image {
    height: 10px;
    background: transparent;
}
.resumeInfo h2 {
    margin: 10px 0;
}

.resumeInfo label{
    display: inline-block;
    font-size: 12px;
    width: 120px;
}

.resumeInfo input[type="text"] {
    width: 400px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.resumeInfo p > span{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}


