body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif, serif;
}

#userInfoMain {
    background: lightgray;
    padding: 5px;
}

.fieldDiv{
    display: flex;
}

.fieldDiv image {
    height: 10px;
    background: transparent;
}
.userInfo h2 {
    margin:  0;
}

.userInfo h3 {
    margin:  0;
    padding: 5px 5px 0 5px;
    text-decoration: underline;
}

.userInfo p > span{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}


