body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif, serif;
}

#userInfoMain {
    background: lightgray;
    padding: 5px;
}

.fieldDiv{
    display: flex;
}

.fieldDiv image {
    height: 10px;
    background: transparent;
}

.userInfo {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.userInfo p {
    margin: 0;
    padding: 0 5px;
}

.userInfo p span {
    font-weight: 550;
}
/*Edit User Info*/
.userInfoEdit {
    background: lightgray;
    padding: 5px;
}
.userInfoEdit label{
    width: 120px;
    display: inline-block;
    text-align: right;
}




