body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif, serif;
}
.main {
    height: calc(100vh - 130px);
    background: lightgray;
    display: flex;
    flex-direction: column;
}
.main > span {
    text-align: start;
    width: 400px;
    padding-left: 75px;
}

.main > span > a {
    text-decoration: none;
}

#userInfoMain {
    padding: 5px;
}

.fieldDiv{
    display: flex;
}

.fieldDiv image {
    height: 10px;
    background: transparent;
}

/*User Info*/
.userInfo {
    background: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.userInfo label{
    display: inline-block;
    font-size: 12px;
    width: 120px;
}

.userInfo input[type="text"] {
    width: 400px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.infoTitle {
    display: flex;
    margin-bottom: 15px;
}
.infoTitle image {
    height: 10px;
    background: transparent;
}

.infoTitle h2{
    margin: 0;
}

.btnDiv {
    display: flex;
}

.btnDiv input[type="submit"] {
    width: 75px;
    margin: 5px 15px;
    box-shadow: 1px 1px 2px black;
}




